ROOT_CA="Root Certificate Authority (example).cer"
TFS_CERT=client-cert.example.pfx
CERT_PW=dein-pfx-passwort

TFS_AMIC=https://devops.example.com/tfs/amic
TFS_AEINS=https://devops.example.com/tfs/amic/a.eins
TFS_TOKEN=base64-kodierter-basic-token

DB_USER=releasenotes
DB_PW=changeme
DB_HOST=localhost
DB_PORT=15432
DB_NAME=releasenotes

SERVER_HOST=0.0.0.0
SERVER_PORT=18080
